<% @page_title = "Forgot Password" -%>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<% form_tag password_reset_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <button type="submit" class="button positive">
    <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/> Reset my password
  </button>
<% end %>
