.header { background: #dfb; }

#map_div { border-width: 1px; border-color: #777; border-style: solid; } 

.post-info-window { 
	position:absolute; 
	left: 0px;
	padding: 5px; 
	background: #fff; 
	color: #000; 
	width: 300px;
	/* for IE */
	filter:alpha(opacity=90);
	/* CSS3 standard */
	opacity:0.9;
	border-top-color: #777; 
	border-style: solid; 
}

.info-bottom { 	bottom: 0px; border-top-width: 1px; }
.info-top {	top: 0px; border-bottom-width: 1px; }

.highlight { background: #ffffbb; }


