<% @page_title = "Edit My Account" -%>
 
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <button type="submit" class="button positive">
    <img src="/stylesheets/blueprint/plugins/buttons/icons/tick.png" alt=""/> Update
  </button>
<% end %>
 