<% 
init_map
set_center_and_zoom_for_areas(@map, @areas, @request)
create_draggable_marker_for_edit(@map, @post)
%>

<div class="span-16">
  <%= render :partial => "form", :locals => { :button_label => "Update post", :post => @post } %>
</div>

<%= render :partial => "map" %>